<html>
  <head>
    <title>Maze Runner</title>
  </head>
  <body>
    <h1>Hi there</h1>
    <button id="movement">left</button>
    <button id="movement">right</button>
    <button id="movement">up</button>
    <button id="movement">down</button>
    <div id="prevCoors">
      {% for c in coors %}
      <p>You moved from {{c.x}},{{c.y}} in the direction {{c.dir}} - This move is {{c.valid}}</p>
      {% endfor %}
    </div>


  </body>

  <script src="{{ url_for('static', filename='scripts/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  <script>
    window.x = {{ coors[0].x if coors[0] else 0 }}
    window.y = {{ coors[0].y if coors[0] else 0 }}
  </script>

</html>
